{% extends 'core/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Добро пожаловать на URFU P2P!</h1>
    <h2>Последние посты</h2>
    {% for post in posts %}
        <div class="post">
            <h3><a href="{% url 'core:post_detail' post.id %}">{{ post.title }}</a></h3>
            <p>{{ post.content|truncatechars:100 }}</p>
            <p>Автор: {{ post.user.username }} | Статус: {% if post.is_resolved %}Решённый{% else %}Нерешённый{% endif %}</p>
        </div>
    {% empty %}
        <p>Постов пока нет.</p>
    {% endfor %}
{% endblock %}